/* Website template by freewebsitetemplates.com */
@font-face {
	font-family: 'HammersmithOneRegular';
	src: url('../fonts/hammersmithone-webfont.eot');
	src: url('../fonts/hammersmithone-webfont.eot?#iefix') format('embedded-opentype'),  url('../fonts/hammersmithone-webfont.woff') format('woff'),  url('../fonts/hammersmithone-webfont.ttf') format('truetype'),  url('../fonts/hammersmithone-webfont.svg#HammersmithOneRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*------------------------------ Sprites ------------------------------*/


#adbox a.button,#search .button, #stocks ul li a.preview span.icon, #checkout table tr td a.plus, #checkout table tr td a.minus {
	background: url(../image/buttons.png) no-repeat;
	display: block;
}
/*------------------------------ HEADER ------------------------------*/
#header {
	margin-bottom: -20px;
	background: rgb(184,219,222);
	background: linear-gradient(180deg, rgba(184,219,222,1) 0%, rgba(247,247,247,1) 74%, rgba(247,247,247,1) 100%);

}
#header_about {
	margin-bottom: 20px;
}

/** Logo+ login **/
.logosize{
	width: 310px;
	height: 110px;
	padding-bottom: 20px;
	margin-left: 530px;
	margin-bottom: 5px;
}

.loginn{
	font-family: 'HammersmithOneRegular';
	color: #527b99;
	font-size: 15px;
	text-decoration: none;
	text-transform: uppercase;
}
.login{
	float: right;
	padding-top: 35px;
	margin-right: 20px;
}

/*------------------------------ sidebar ------------------------------*/
.sidebar {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	background-color: #b8dbde;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 0px;
  }
  
  .sidebar a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #527b99;
	display: block;
	transition: 0.3s;
  }
  
  .sidebar a:hover {
	color: #0096a2;
  }
  
  .sidebar .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
  }
  
  .openbtn {
	font-size: 20px;
	cursor: pointer;
	background-color: #65a4aa;
	color: white;
	padding: 10px 15px;
	border: none;
  }
  
  .openbtn:hover {
	background-color: #444;
  }
  .sidebarlogin{
	display: inline !important;
	color: #124E96!important;
  }
  .sidebarlogin:hover{
	color: #2c7fe4!important;
  }
  
  #main {
	transition: margin-left .5s;
	padding-top: 25px;
	float: none;
	display:contents;
  }
/** Navigation **/
#navigation {
	background-color: #b8dbde;
	color: #527b99;	
	text-align: center;
	display: flex;
	z-index: 9999;
	
}
.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}
  

#navigation ul {
	list-style: none;
	display: inline-block; 
	margin-left: 100px;
}
#navigation li {
	float: left;
	font-size: 14pt;
	margin: 0 50px;
	padding-top: 5px;
}
#navigation a {
	font-family: 'HammersmithOneRegular';
	color: #527b99;
	font-size: 15px;
	text-decoration: none;
	text-transform: uppercase;
}
#navigation a:hover, #primary li.selected a, #navigation #primary li.highlight a:hover {
	background: url(../images/bg-menu-selected.gif) no-repeat center top;
	color: #0096a2;
	padding-top: 5px;
}
/*------------------------------ Arrows ------------------------------*/
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '⮞';
  font-size: 55px;
  color: #2b8b80;
}

.carousel-control-prev-icon:after {
  content: '⮜';
  font-size: 55px;
  color: #2b8b80;
}

/*------------------------------ CONTENTS  index ------------------------------*/
#contents {
	margin: 0 0 60px;
}

#contents h4 span {
	background: url(../images/5.png)   no-repeat right   ; 
	color: #061938;
	display: block;
	height: 29px;
	width: 171px;
	padding: 4px 0 2px;
	text-align: center;
}
#contents h4{
    background: url(../images/separator-horizontal.png)  no-repeat center center;
    color: #fbfdf8;
    font-family: 'HammersmithOneRegular';
    font-weight: normal;
    line-height: 30px;
    margin-left: 100px;
}

/**boot img**/

.carousel-inner{
	padding:50px 200px;
	}


/** MAIN img **/



#main, #main div {
	margin: 0 0 0px;
}

ul.items {
	display: inline-block;
	list-style: none;
	margin-left: 10px;
	
}
ul.items li {
	float: left;
	width: 169px;
	margin-left: 100px;
	
}


ul.items li a {
	color: #263981;
	font-family: 'HammersmithOneRegular';
	font-size: 14px;
	line-height: 24px;
	text-align: left;
	text-decoration: none;
}
ul.items li a:hover {
	color: #a3cecf;
}
ul.items li a span {
	float: right;
	color: #e3b612;
}

.small_img img
{
	position: relative;
	left: 15px;
	height: 90px;
	width: 120px;
	margin: 50px, 50px;
	padding-top: 10px;
	opacity: 75%;


}
.small_img img:hover 
{
	opacity: 100%;
	transform: scale(1.1);
}




				/*----------------  about  HTML --------------------*/

				  
table.CONTENTS_about {
	margin-left: auto; 
	margin-right: auto;
}
.table1{
	padding-right: 200px;
}

/*------------------------------ customer_service ------------------------------*/



.customer_service input[type=text] {
    border: 1px solid #ccc;
	width: 400px;
	height: 50px;
  }
  .submit input[type=email] {
	  margin-left: 80px;
    border: 1px solid #ccc;
	width: 70%;
	height: 50px;
	background-color: rgb(230, 225, 225);

  }
#text_eamil{
	margin-left: 85px ;
}
.submit{
	margin-left: 70px;
}
.message_text{
	margin-left: 80px;
    border: 1px solid #ccc;
    width: 70%;
    height: 400px;
	background-color: rgb(230, 225, 225);
}
 .btt{
	 color: white;
	 background-color:  #4f8f97;
	 height:40px ;
	 width: 70px;
	 border-radius: 12px;

 }
 .btt:hover{
	 background-color: #92c3c9;
 }
 
 
 .send{
 display: flex;
 justify-content: center;
 align-items: center;
 height: 70px;
}





/*------------------------------ checkout page ------------------------------*/




/*---------------------booking page---------------------------*/
.img_book{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.number_room{
	width: 350px;
	height: 40px;

}

table.tabel_booking_room ,  table.tabel_booking_number , table.tabel_booking_date{
	margin-left: auto; 
	margin-right: auto;

}
.tabel_booking_number , .tabel_booking_date{
	margin-top: 25px;
}
.Child{
	padding-left: 120px;
}
.tabel_Date{
	padding-left: 40px;

}
.check_out{
	padding-left: 25px;
}


/*------------------------------ Abroad_Travel &local.html ------------------------------*/
#Abroad_part_one{
	display: flex;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding:8px;
	margin :0px 5px;
	list-style-type:none  !important;
	
	
}
#Abroad_part_one div.Abroad_section {
	float: left;
	width: 438px;
	padding-left: 12px;
	 
}
#Abroad_part_one div.Abroad_section h2 {
	color: #636a86;
	font-family: 'Trebuchet MS';
	line-height: 36px;
	 
}
#Abroad_part_one div.Abroad_section h2 span {
	float:right ;
	color: #e6b614;
	font-size: 36px;
	margin-top: -6px;
	 
}
#Abroad_part_one div.Abroad_section p {
	color: #636a86;
	font-size: 14px;
	line-height: 24px;
	padding-bottom: 36px;
	 
}





/*------------------------------ product.html ------------------------------*/
#product {
	font-family: 'Trebuchet MS';
	display: inline-block;
	padding-left:  15px ;
	
	
}
#product div.section {
	float: left;
	width: 438px;
	padding-left: 12px;
}

#product div.section h2 {
	color: #636a86;
	font-family: 'Trebuchet MS';
	line-height: 36px;
	margin: 0 0 12px;
}
#product div.section h2 span {
	float: right;
	color: #e6b614;
	font-size: 36px;
	margin-top: -6px;
}
#product div.section p {
	color: #636a86;
	font-size: 14px;
	line-height: 24px;
	padding-bottom: 36px;
}




/*------------------------------ FOOTER ------------------------------*/
.footer .block {
	background: rgb(255,255,255);
	background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(184,219,222,1) 39%, rgba(184,219,222,1) 100%);	/* make background */ 
	height: 200px; 								 /* make height for block */ 
	width: 100%;	 									 /* make width 80 from width of page */ 
	margin: auto;	 								 /* make block in center */ 
	text-align: center;	 					 /* make items inside block in center */ 
}

.footer .block .link {
	color: #3a607a;									 /* make color white */
	text-decoration: none;						/* remove lines from link */
	text-transform: capitalize; 			/* make first letter with capital */
	margin: 20px;											/* make space between links */
	display: inline-block;						/* make display available to get space from top and bottom */
}
.footer-dark {
	color:#f0f9ff;
	background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(184,219,222,1) 39%, rgba(184,219,222,1) 100%);	/* make background */ 
	color: #305670;
	 
  }
  
  .footer-dark h3 {
	margin-top:0;
	margin-bottom:12px;
	font-weight:bold;
	font-size:16px;
  }
  
  .footer-dark ul {
	padding:0;
	font-weight:bold;

	list-style:none;
	line-height:1.6;
	font-size:14px;
	margin-bottom:0;
  }
  
  .footer-dark ul a {
	color: #63737e;
	text-decoration:none;
  }
  
  .footer-dark ul a:hover {
	opacity:0.9;

  }
  
  @media (max-width:767px) {
	.footer-dark .item:not(.social) {
	  text-align:center;
	  padding-bottom:200px;
	}
  }
  
  .footer-dark .item.text {
	margin-bottom:36px;
  }
  
  @media (max-width:767px) {
	.footer-dark .item.text {
	  margin-bottom:0;
	}
  }
  
  .footer-dark .item.text p {
	opacity:0.6;
	margin-bottom:0;
  }
  
  .footer-dark .item.social {
	text-align:center;
  }
  
  @media (max-width:991px) {
	.footer-dark .item.social {
	  text-align:center;
	  margin-top:20px;
	}
  }
  
  
  
  .footer-dark .item.social > a:hover {
	opacity:0.9;
  }
  
  .footer-dark .copyright {
	text-align:center;
	padding-top:24px;

	font-size:13px;
	margin-bottom:0;
  }
.lol{

	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: 0px;


}
.item{
	width: 25%;
	padding: 10px;
}
li{
	color: #63737e; 
	padding-top: 5px;
}


.lol h3{
	font-size: medium;
	font-family:Arial, Helvetica, sans-serif ;
}

/* p{
	font-size: larger;
	font-family:Arial, Helvetica, sans-serif ;	
}
 */

 .ftr_social_icon li {
	display: inline-block;
	text-align: center;
	padding: 4px;
}


.ftr_social_icon ul li a {
    border: 1px solid #fff;
    border-radius: 50%;
    color: rgb(52, 148, 192);
    display: inline-block;
    font-size: 17px;
    height: 40px;
    line-height: 32px;
    padding: 4px 8px;
    width: 40px;
	transition: .5s;
}
.ftr_social_icon ul li a:hover{
	background: #33d286;
	border-color: #33d286;
	color: #fff;
}

.ftr_btm_area {
	background: transparent;
	padding-top: 20px;
	border-top: 1px dotted #888;
	position: relative;
}


.sf_title{
    color: #33bad2;
    text-transform: uppercase;
    font-size: 17px;
	margin-top: 0px;
	margin-bottom: 15px;
}
.img_footer{
	margin-top: 20px;
}