ul {
	text-decoration:none;
    list-style: none;
    padding-left: 0px;
}
.footer_area {
	padding:60px 0 20px;
	position: relative;
	color: #fff;
	z-index: 100;
	background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(184,219,222,1) 39%, rgba(184,219,222,1) 100%);	/* make background */ 
	word-break: break-all;
	word-wrap: break-word;
	text-align: center;	 					 /* make items inside block in center */ 
    
}

.leter_logo{
	font-size: medium;
}
.sf_title{
    color: #33bad2;
    text-transform: uppercase;
    font-size: 17px;
	margin-top: 0px;
	margin-bottom: 15px;
}

.img_footer{
	margin-top: 20px;
}






.single_ftr li {
    padding-bottom: 7px;
}
.single_ftr a {
color: #63737e;}

.single_ftr a:hover {
	color: #30567050;
}

.ftr_social_icon li {
	display: inline-block;
	text-align: center;
	padding: 4px;
}
.container-fluid ,.container{
	color:#f0f9ff;
	color: #305670;
}


.ftr_social_icon ul li a {
    border: 1px solid #fff;
    border-radius: 50%;
    color: rgb(52, 148, 192);
    display: inline-block;
    font-size: 17px;
    height: 40px;
    line-height: 32px;
    padding: 4px 8px;
    width: 40px;
	transition: .5s;
}
.ftr_social_icon ul li a:hover{
	background: #33d286;
	border-color: #33d286;
	color: #fff;
}

.ftr_btm_area {
	background: transparent;
	padding-top: 20px;
	border-top: 1px dotted #888;
	position: relative;
}
.copyright_text{
    margin: 6px 0;
}
